<!--contain-->
<div class="container">
  <h1 class="text-center">
    Inspiring Quotes
  </h1>
</div>
<div class="container">
  <div class="row destacados">
    {{#each emotions}}
    <div class="col-md-3" >
      <a href="#" onclick="showQuote('{{quotePath}}')">
        <img
          src="images{{imagePath}}"
          alt="{{title}}"
          class="img-circle img-thumbnail"
        />
        <h2>
          {{title}}
        </h2>
      </a>
    </div>
    {{/each}}
  </div>
  <div class="row text-center">
    <img id="quote" class="img-thumbnail" src="images/task1/default.jpg" />
  </div>
</div>
<script>
  function showQuote(quotePath){
    document.getElementById('quote').setAttribute('src',`images${quotePath}`)
  }
</script>
<!--/contain-->